# Preparing the Letter Map

In [16]:
letter_map = {' ': 0}
base = '2'
number = ''

for i in range(65, 91):
    letter = chr(i)
    number += base

    print(chr(i), number)
    if chr(i) not in letter_map:
      letter_map[chr(i)] = number

    if base == '7' or base == '9':
      if len(number) == 4:
          number = ''
          base = int(base) + 1
          base = str(base)

    else:
         if len(number) == 3:
          number = ''
          base = int(base) + 1
          base = str(base)

A 2
B 22
C 222
D 3
E 33
F 333
G 4
H 44
I 444
J 5
K 55
L 555
M 6
N 66
O 666
P 7
Q 77
R 777
S 7777
T 8
U 88
V 888
W 9
X 99
Y 999
Z 9999

In [17]:
letter_map

{' ': 0,
 'A': '2',
 'B': '22',
 'C': '222',
 'D': '3',
 'E': '33',
 'F': '333',
 'G': '4',
 'H': '44',
 'I': '444',
 'J': '5',
 'K': '55',
 'L': '555',
 'M': '6',
 'N': '66',
 'O': '666',
 'P': '7',
 'Q': '77',
 'R': '777',
 'S': '7777',
 'T': '8',
 'U': '88',
 'V': '888',
 'W': '9',
 'X': '99',
 'Y': '999',
 'Z': '9999'}

# Inference

In [18]:
msg = 'Call me now'
msg = msg.upper()

for letter in msg:
  print(letter_map[letter])

222
2
555
555
0
6
33
0
66
666
9